In [2]:
import pandas as pd

In [3]:
pums = pd.read_csv('../data/FultonPUMS5full.csv')

In [4]:
pums.shape

(25766, 18)

In [3]:
pums.head()

,state,puma,sex,age,educ,income,latino,black,asian,married,divorced,uscitizen,children,disability,militaryservice,employed,englishability,fips
0,13,1101,1,51,11,2200.0,0,0,0,1,0,1,0,0,0,0,1,13121
1,13,1101,0,44,11,125030.0,0,0,0,1,0,1,0,0,0,1,1,13121
2,13,1101,0,60,11,105000.0,0,0,0,1,0,1,0,1,1,1,1,13121
3,13,1101,0,41,13,52000.0,0,0,0,0,0,1,0,0,0,1,1,13121
4,13,1101,0,56,13,263000.0,0,0,0,1,0,1,0,0,1,1,1,13121

In [21]:
marginal_latino = pums.latino.sum()/len(pums)
marginal_married = pums.married.sum()/len(pums)
marginal_disability = pums.disability.sum()/len(pums)
puma_1101 = pums[pums.puma == 1101]
marginal_engab = pums.englishability.sum()/len(pums)
marginal_puma_1101 = len(puma_1101)/len(pums)

In [24]:
25766* marginal_latino * marginal_married * marginal_disability * marginal_puma_1101 * marginal_engab

15.845469209358612

In [18]:
pums.groupby(['puma','sex', 'uscitizen', 'married', 'englishability']).agg({'state': 'count'})

                                           state
puma sex uscitizen married englishability
1101 0   0         0       0                   2
                           1                  29
                   1       0                  13
                           1                  98
         1         0       0                   1
                           1                 329
                   1       0                   3
                           1                1074
     1   0         0       0                   3
                           1                  17
                   1       0                  23
                           1                  88
         1         0       0                   4
                           1                 446
                   1       0                   7
                           1                1078
1102 0   0         0       0                  90
                           1                  98
                   1       0                  98
                           1                 131
         1         0       0                  12
                           1                 847
                   1       0                   9
                           1                1467
     1   0         0       0                  35
                           1                  69
                   1       0                  88
                           1                 118
         1         0       0                  10
                           1                1224
...                                          ...
1106 0   0         0       1                   7
                   1       0                   4
                           1                   9
         1         0       0                   9
                           1                 873
                   1       0                   4
                           1                 422
     1   0         0       0                   2
                           1                  13
                   1       0                   5
                           1                   8
         1         0       0                   7
                           1                1453
                   1       1                 413
1107 0   0         0       0                   7
                           1                  13
                   1       0                  11
                           1                  14
         1         0       0                   5
                           1                 594
                   1       0                   3
                           1                 654
     1   0         0       0                   2
                           1                   9
                   1       0                  10
                           1                  10
         1         0       0                   4
                           1                 971
                   1       0                   4
                           1                 672

[111 rows x 1 columns]

### Problem 2